.timer {
    background-color: black;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid;

}


#timer-display {
    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 100px;

}

input {
    background: none;

    border: none;

    color: white;
    font-size: 25px;
}

label {
    font-size: 25px;
}

.tlabels {
    display: flex;
    margin: auto;
    padding: 0px 0px 10px 0px;
}

.tlab {
    padding: 0px 50px;
    font-size: 25px;
}

.tbtnt {
    font-size: 25px;
}

#start-btn {
    font-size: 25px;
}

#stop-btn {
    font-size: 25px;
}

#reset-btn {
    font-size: 25px;
}