@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid', sans-serif;
}

body {
    background-color: #3798ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
}

.Stopwatch{
    background-color: black;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid;

}

#sDisplay {
    font-size: 100px;
  justify-content: center;
  display: flex;
}

.slabels {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 25px;
}

.slbl {
    padding: 0px 40px;
}

.sbtn{
    font-size: 25px;
}