@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid', sans-serif;
}

body{
    background-color: #3798ff;   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   color: whitesmoke;
}

.tab {
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background: none;
    margin: auto;
    padding: 5px 39px;
  }

.tab:hover{
    color: blue;
}

.clock{
  background-color: black;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid;

}

.clockFrame{
    font-size: 100px;
}

.clockLabels{
    font-size: 25px ;
    margin: auto;
}

.clspan{
    padding: 0px 50px;
}
